@model Producto

<div class="flex flex-col items-center justify-center h-screen">
    <a asp-controller="Productos" asp-action="GetProductosAdmin"
       class="text-blue-600 font-bold my-4">
        Volver a Productos
    </a>

    <div class="bg-white rounded-lg shadow-lg p-8">
        <h2 class="text-red-600 font-bold text-lg my-4 text-center">
            ¿Desea eliminar el producto
            <span class="text-blue-600 font-semibold">
                "@Model.NombreProducto"?
            </span>
        </h2>
        <form method="post" class="my-4 text-center">
            <input type="hidden" name="id" value="@Model.IdProducto" />
            <button class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                  <a  asp-controller="Productos"
                   asp-action="EliminarProducto"
                   asp-route-ididproducto="@Model.IdProducto">
                Eliminar
                </a>
            </button>
        </form>
    </div>
</div>


